@import "fun";

.emColor{
  color: $emColor;
}
.color333{
  color: $color333;
}
.color666{
  color: $color666;
}
.color999{
  color: $color999;
}
.colorfff {
  color: $colorFFF;
}
.colorTip {
  color: $colorTip
}
.colorRadio{
  color: $colorRadio;
}
.color41fff7{
  color: $color41fff7;
}
.colorAmount{
  color: $colorAmount;
}
.colorGoing{
  color: $colorGoing
}
