.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.txt-center{
  text-align: center;
}
.txt-left{
  text-align: left;
}
.txt-right{
  text-align: right;
}
.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs25 {
  font-size: 25px;
}

.fs26 {
  font-size: 26px;
}

.fs27 {
  font-size: 27px;
}

.fs28 {
  font-size: 28px;
}

.fs29 {
  font-size: 29px;
}

.fs30 {
  font-size: 30px;
}

.fs32 {
  font-size: 32px;
}

.fs34 {
  font-size: 34px;
}

.fs36 {
  font-size: 36px;
}

.fs38 {
  font-size: 38px;
}

.fs40 {
  font-size: 40px;
}

.fs44 {
  font-size: 44px;
}

.fs48 {
  font-size: 48px;
}

.fs50 {
  font-size: 50px;
}

.fs52 {
  font-size: 52px;
}

.fs56 {
  font-size: 56px;
}

.fs58 {
  font-size: 58px;
}

.fs60 {
  font-size: 60px;
}

.fs64 {
  font-size: 64px;
}

.fs68 {
  font-size: 68px;
}
