@charset "utf-8";
$colorFFF: #ffffff;
$emColor: #01598d;
$color41fff7: #41FFF7;
$colorAmount:#DD7A00;
$colorDividendRed: #ff6f26;
$colorTip: #FC4343;
$colorRadio: #F8D756;
$colorGoing: #008A5E;
$color333: #333333;
$color666: #666666;
$color999: #999999;

$bgColor: #ffffff;
$disableBtnBg: #DDDDDD;
$disableBtnColor: #999999;
$bgDialog: rgba(0, 0, 0, 0.6);

$bdColorddd: #dddddd;
$bdColorf2: #f2f2f2;
$bdColore7: #e7e7e7;
