.pl40 {
  padding-left: 40px;
}

.pr6{
  padding-right: 6px;
}
.pr40 {
  padding-right: 40px;
}
.pb40 {
  padding-bottom: 40px;
}

.pb100{
  padding-bottom: 100px;
}

.pt40 {
  padding-top: 40px;
}

.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}
.mt14 {
  margin-top: 14px;
}
.mt24 {
  margin-top: 24px;
}
.mt30{
  margin-top: 30px;
}
.mt32{
  margin-top: 32px;
}
.mt34{
  margin-top: 34px;
}

.mt40{
  margin-top: 40px;
}

.mt60{
  margin-top: 60px;
}

.mt64{
  margin-top: 64px;
}
.mt200{
  margin-top: 200px;
}
.ml12{
  margin-left: 12px;
}
.ml16{
  margin-left: 16px;
}
.ml18{
  margin-left: 18px;
}
.ml20{
  margin-left: 20px;
}
.ml40{
  margin-left: 40px;
}
.mr15{
  margin-right: 15px;
}
.mr16{
  margin-right: 16px;
}
.mr40{
  margin-right: 40px;
}
